<ul>
    <li>
        <a href="#">
            <span class="icon-support"></span> General
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon-app-territory"></span> Territory
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon-app-plan"></span> Plan
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon-app-resource"></span> Resource
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon-app-appointment"></span> Appointment
        </a>
    </li>
    <li class="active">
        <a href="/route">
            <span class="icon-app-route"></span> Route
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon-app-dispatch"></span> Dispatch
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon-app-locate"></span> Locate
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon-app-connect"></span> Connect
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon-app-insight"></span> Insight
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon-app-result"></span> Result
        </a>
    </li>
</ul>