/**
* Site header
*/

.site-header {
  background: #414042;
  width: 100%;
  z-index: 2;
  position: fixed;
  h1 {
    color: #f7f7f7;
    position: relative;
    left: 2.7em;
    top: 0.3em;
    font-size: 3em;
    display: inline-block;
  }
}

.site-title {
  font-family: $header-font-family;
  background: url('../img/mobi-logo.svg') no-repeat 1em 1em;
  background-size: 6.75em 3.15em;
  display: inline-block;
  position: absolute;
  height: 4.5em;
  width: 9em;
}

.top-header {
  height: 5em;
  position: relative;
}

.top-nav-icon {
  display: block;
  position: absolute;
  top: 0.8em;
  width: 1.5em;
  height: 1em;
  z-index: 3;
  line-height: 0;
  padding-top: 20px;
  text-align: center;
  color: $black-color-light;
  font-size: 2em;
  padding: 1em 1.5em 1em .5em;
  border-radius: 2em;
  -moz-transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  transition: background-color 1s linear;
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.search-icon {
  display: none;
  margin-right: 0.1em;
}

.menu-icon {
  right: 0.25em;
  top: 0.4em;
}

.icon-toggled {
  background-color: $brand-color;
  color: white !important;
  -moz-transition: background-color 1s ease-in;
  -webkit-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}

.is-sticky .site-header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

// Tabs show on product pages only
.tabs {
  background-color: $brand-color;
  min-height: 0.5em;
  padding-left: 1em;
}

.products .tabs a {
  color: #ffffff;
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
  height: 1.8em;
  padding: 0 1em;
  &.selected, &:hover {
    background-color: $background-color;
    color: $black-color;
  }
  &#pageNavIcon {
    margin-right: 0.16em;
  }
}

@include media-query($on-laptop) {
  .tabs {
    padding-left: 1em;
    .top {
      // Don't need back to top functionality on screens/devices that already have it built in.
      display: none !important;
    }
  }
}

@include media-query($on-palm) {
  .top-header.hidden {
    display: none;
  }

  .site-header h1 {
    left: 3em;
    top: 0.7em;
    font-size: 2em;
  }
  
  .site-title {
    background-position: 0.5em 1.45em;
    background-size: 5em 2.25em;
    height: 4.5em;
    width: 8.5em;
  }
  
  .top-nav-icon {
    top: 0.25em;
  }
  
  .menu-icon {
    right: 0.5em;
  }

  .search-icon {
    display: inline-block;
    right: 2em;
  }
  
  .tipue-search-form {
    display: none;
    width: 100%;
    float: none;
    position: absolute;
    right: 0;
    top: 5em;
    text-align: center;
    background: rgba(darken($black-color, 10%), 0.91);
    padding: 2em 0;
    input#tipue_search_input {
      margin: 0 auto;
      width: 80%;
      padding: 1em 3em;
      background-position: 15px 15px;
    }
  }
  
  .tabs {
      padding: 0;
    a {
      font-size: 1.2em;
      height: 2em;
    }
  }
}