/**
* Site header
*/
.site-header {
  background: #414042;
  width: 100%;
  z-index: 2;
  h1 {
    color: #f7f7f7;
    position: relative;
    left: 2.7em;
    top: 0.3em;
    font-size: 3em;
    display: inline-block;
  }
}

.site-title {
  font-family: $header-font-family;
  background: url('../vendor/visualcaptcha.vanilla/images/mobi-logo-white.png') no-repeat 0.5em 0.5em;
  background-size: 8.5em 4em;
  display: inline-block;
  position: absolute;
  height: 4.5em;
  width: 8.5em;
}

.top-header {
  height: 5em;
  position: relative;
}

.top-nav-icon {
  display: block;
  position: absolute;
  top: 0.8em;
  width: 1.5em;
  height: 1em;
  z-index: 3;
  line-height: 0;
  padding-top: 20px;
  text-align: center;
  color: $black-color-light;
  font-size: 2em;
  &:hover {
    color: $black-color-light;
  }
}

.search-icon {
  display: none;
  right: 2.5em;
  a[class*="icon-"] {
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    top: -0.5em;
    color: $black-color-light;
    &:hover {
      color: darken($background-color, 20%);
    }
  }
}

.menu-icon {
  right: 0.5em;
}

.is-sticky .site-header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

// Tabs show on product pages only
.tabs {
  background-color: $brand-color;
  min-height: 0.5em;
  padding-left: 23.75%;
  a {
    color: #ffffff;
    font-size: 1.5em;
    display: none;
    margin: 0;
    height: 1.8em;
    padding: 0 1em;
    &.selected, &:hover {
      background-color: $background-color;
      color: $black-color;
    }
  }
}

@include media-query($on-laptop) {
  .tabs .top {
    // Don't need back to top functionality on screens/devices that already have it built in.
    display: none !important;
  }
}

@include media-query($on-palm) {
  .site-header h1 {
    left: 2.8em;
    top: 0.7em;
    font-size: 2em;
  }
  
  .site-title {
    background-position: 0.25em 1em;
    background-size: 5em 2.25em;
    height: 4.5em;
    width: 8.5em;
  }

  .search-icon {
    display: inline-block;
    right: 1.8em;
  }
  
  .tipue-search-form {
    display: none;
    width: 100%;
    float: none;
    position: absolute;
    right: 0;
    top: 5em;
    text-align: center;
    background: rgba(65, 64, 66, 0.91);
    padding: 2em 0;
    input#tipue_search_input {
      margin: 0 auto;
      width: 80%;
      padding: 1em 3em;
      background-position: 15px 15px;
    }
  }
  
  .tabs a {
    font-size: 1.2em;
    height: 2em;
  }
}