body {
  position: relative;
}

// DEFAULT LAYOUT

.page-content {
  padding: 5.5em 0 3em;
  &, * {
    box-sizing: border-box;
  }
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin: 0 auto;
  padding: 0 4%;
  position: relative;
  h2 {
    font-weight: 100;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
  }
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.page-heading {
  font-weight: 500;
  margin-bottom: 0.2em;
}


// SIDEBAR LAYOUT

.sidebar {
  .page-content .wrapper, .site-footer .wrapper {
    margin-left: 25%;
  }
  .page-content .wrapper {
    margin-left: 25%;
    h1 {
      margin-top: 1em;
      color: $brand-color;
    }
    h2 {
      position: relative;
      padding-top: 3.5em;
      &:nth-child(3) {
        margin-top: 0;
        padding-top: 1.5em;
      }
      a {
        display: block;
        width: 100%;
        font-size: 0.4em;
        margin-top: 1em;
      }
    }
    p {
      text-align: justify;
      display: block;
    }
    img {
      width: 100%;
      display: block;
      margin: $spacing-unit * 1/4 auto $spacing-unit * 3/4;
      text-align: center;
      border: 1px solid $grey-3;
      border-radius: 5px;
    }
    p a, li a {
      border: 1px solid $brand-color;
      border-radius: 3px;
    }
  }
}