// DEFAULT LAYOUT

.page-content {
  min-height: 35em;
  &, * {
    box-sizing: border-box;
  }
  h1 {
    margin: 1em 0 0;
    color: $brand-color;
  }
}

.content-wrapper {
//  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  position: relative;
  h2 {
    font-weight: 100;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
  }

//  @include media-query($on-laptop) {
//    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//    padding-right: $spacing-unit;
//    padding-left: $spacing-unit;
//  }
}

// SIDEBAR LAYOUT

.sidebar {
  .page-content {
    @extend %clearfix;
    
    h1 + h3 {
      color: $text-color;
      font-size: 1.5em;
      margin-top: 0;
      font-weight: 100;
      font-family: $base-font-family;
    }
    h2 {
      padding: 1.5em 0 1em;
    }
    p {
      text-align: justify;
      display: block;
    }
    img {
      width: 100%;
      display: block;
      margin: $spacing-unit * 1/4 auto $spacing-unit * 3/4;
      text-align: center;
      border: 1px solid $grey-3;
      border-radius: 5px;
    }
    p a {
      border: 1px solid $brand-color;
      border-radius: 3px;
    }
  }
  
  .content-wrapper, .page-nav {
    display: inline-block;
    margin: 0;
    float: left;
    box-sizing: border-box;
  }
  .content-wrapper {
    width: 74%;
    padding: 1em 3em;
  }
  .page-nav {
    width: 25%;
    min-width: 240px;
  }
  .nav-wrapper {
    background-color: #f0f0f0;
    margin: 0 1em 1em 0;
    padding: 3em 1.5em;
    ul {
      list-style-type: none;
      line-height: 1.5;
    }
    li {
      margin: 0.5em 0;
      padding: 0.3em 0.2em;
      background: $grey-2;
      border-left: 5px solid $grey-5;
      width: 100%;
      a {
        color: $text-color;
        white-space: normal;
        width: 100%;
      }
      &:hover, &:active, &:focus {
        background-color: $brand-color-light;
        border-left-color: $brand-color-dark;
        a {
          color: $brand-color-dark;
        }
      }
    }
  }
  
  .select-wrapper {
    display: none;
  }

  @include media-query($on-laptop) {
    .content-wrapper, .page-nav {
      float: none;
      display: block;
      width: 100%;
    }
    
    .page-nav ul {
      display: none;
    }
    
    .nav-wrapper {
      margin: 0 0 1em;
      padding: 1em;
    }

    .select-wrapper {
      background-color: #ddd;
      border-left: 5px solid #909090;
      margin: 1em 0;
      position: relative;
      display: block;
      .icon-arrow-down {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
      }
    }

    #pageNavSelect {
      border: none;
      background: transparent;
      font-size: 1em;
      font-family: $base-font-family;
      color: $text-color;
      width: 100%;
      height: 32px;
    }
  }
}
