.page-nav {
  display: none;
  background-color: $background-color;
  border-right: 8px solid $grey-4;
  position: absolute;
  top: 7.6em;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 14em;
  overflow-y: auto;
  
  .wrapper {
    display: none;
    padding: 1em 0 0 2em;
  }
  
  ul {
    list-style-type: none;
    line-height: 1.5;
  }
  li {
    margin: 0.5em 0;
    padding: 0.3em 0.2em;
    background: $grey-2;
    border-left: 5px solid $grey-4;
    width: 100%;
    a {
      color: $black-color;
      white-space: normal;
      width: 100%;
    }
    &:hover, &:active, &:focus {
      background-color: $brand-color-light;
      border-left-color: $brand-color-dark;
      a {
        color: $brand-color-dark;
      }
    }
  }
}

@include media-query($on-palm) {
  .page-nav {
    border-right: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch; // mobile safari
  }
}