// SPECIAL STRING AND ELEMENTS STYLING

a[href*="/documents/"] {
  background-color: $brand-color;
  color: $background-color;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: center;
  &:hover {
    background-color: transparent;
    color: $brand-color;
  }
  @include media-query($on-palm) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}