.products {
  h3[id*="see-faq"], h3[id*="back-to-user-manual"] {
    margin: 0;
    position: relative;
    a {
      position: absolute;
      top: -2.5em;
      right: 0;
      border: 3px solid $brand-color;
      border-radius: 3px;
      font-size: 1.3em;
      background-color: $brand-color;
      color: $background-color;
      padding: 0.2em;
      &:hover {
        background-color: transparent;
        color: $brand-color;
      }
    }
    @include media-query($on-palm) {
      a {
        position: relative;
        top: 0;
      }
      text-align: right;
    }
  }
}

// SPECIAL STRING AND ELEMENTS STYLING

a[href*="/documents/"] {
  background-color: $brand-color;
  color: $background-color;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: center;
  &:hover {
    background-color: transparent;
    color: $brand-color;
  }
  @include media-query($on-palm) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


// PRODUCT SIDE NAVIGATION

.page-nav {
  padding: 2.5em 2em 0;
  position: fixed;
  top: 0;
  margin-top: 80px;
  width: 20%;
  height: 90%;
  background-color: #f0f0f0;
  overflow: auto;
}

#page-nav-list {
  list-style-type: none;
  font-size: 1em;
  line-height: 1.5;
  li {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 4px 8px;
    background: $grey-2;
    border-left: 5px solid $grey-5;
    width: 100%;
    a {
      color: $text-color;
      padding: 0;
      white-space: pre-line;
      display: block;
    }
    &:hover, &:active, &:focus {
      background-color: $brand-color-light;
      border-left-color: $brand-color-dark;
      a {
        color: $brand-color-dark;
      }
    }
  }
}

@include media-query($on-laptop) {
  .page-nav {
    overflow: auto !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .wrapper {
    margin-left: inherit !important;
  }
  .page-nav {
    width: 86%;
    margin: 0 auto;
    position: relative;
  }
  #page-nav-list li {
    width: auto;
    margin-right: 1em;
  }
  .product {
    margin: auto;
    padding-top: 0;
    h2:first-child {
      margin-top: 0.2em;
    }
  }
}


@include media-query($on-palm) {
  .page-nav {
    width: 100%;
    padding-top: 1em;
  }
  p {
    text-align: left;
  }
}