.tipue-search-form {
  float: right;
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 120px;
}

input#tipue_search_input {
  padding: 8px 12px 8px 40px;
  border-radius: 3px;
  background-position: 15px 12px;
  display: block;
}

#Search .page-content .wrapper {
  padding: 1em 2.2em;
}

@include media-query($on-palm) {
  .tipue-search-form {
    z-index: 10;
  }
}